h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  } 
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }
body{
    background-image: url(../img/contact.png);
    opacity: 1.5;
}
form{
  display: flex;     
  flex-direction: column; 
  justify-content: space-around;
  height: 300px;
  align-items: center;
}
input[type="text"] {
    border-radius: 5px;
    margin: auto;
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    max-width: 100%;
    outline: none;
    padding: 10px 8px;
    align-items: center;

}
h2{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
input[type="password"] {
    border-radius: 5px;
    margin: 40px 0px 0px 0px;
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    max-width: 100%;
    outline: none;
    padding: 7px 8px;
}
input[type="submit"] {
    font-size: 20px;
    border-radius: 5px;
    margin: 40px 0px 0px 0px;
    background: #0088B2;
    color: #fff;
    padding: 8px 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
input[type="tel"] {
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    max-width: 100%;
    outline: none;
    padding: 7px 8px;
}
label{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
